	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="logIn/css/style.css">
    <style>
        .wrong-input{
            border: 1px solid red;
        }
    </style>

	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6 col-lg-5">
					<div class="login-wrap p-4 p-md-5">
                        <div class="icon d-flex align-items-center justify-content-center">
                            <span class="fa fa-user-o"></span>
                        </div>
                        <h3 class="text-center mb-4">Have an account?</h3>

                        <form class="login-form" action="/api/login" method="post">
                            <div class="form-group">
                                <input type="text" name="userName" class="form-control rounded-left {{inpErr}}" placeholder="Username" value="56651363" required>
                            </div>
                            <div class="form-group d-flex">
                                <input type="password" name="password" class="form-control rounded-left {{inpErr}}" placeholder="Password" value="aaaa" required>
                            </div>

                            {{#if err}}
                                <div class="form-group">
                                    <style>
                                        .err-message{
                                            color: orangered;
                                            font-size: 1.1rem;
                                        }
                                    </style>
                                    <p class="err-message">Invalid email or wrong password</p>
                                </div>
                            {{/if}}

                            <div class="form-group d-md-flex">
                                <div class="w-50">
                                    <label class="checkbox-wrap checkbox-primary">Remember Me
                                        <input type="checkbox" checked>
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                                <div class="w-50 text-md-right">
                                    <a href="/signUp">Sign Up ?</a>
                                </div>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary rounded submit p-3 px-5">Get Started</button>
                            </div>
                        </form>
	                </div>
				</div>
			</div>
		</div>
	</section>
    <script src="logIn/js/jquery.min.js"></script>
    <script src="logIn/js/popper.js"></script>
    <script src="logIn/js/bootstrap.min.js"></script>
    <script src="logIn/js/main.js"></script>